@import 'lxgw-wenkai-lite-webfont/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-balance {
  text-wrap: balance;
}

body {
  font-family: "LXGW WenKai Lite", sans-serif;
}

pre, code {
  font-family: "LXGW WenKai Mono Lite", sans-serif;
}
